<nb-card *ngIf="articleSelected">
    <nb-card-header>
        <h3 >{{ articleSelected.title|uppercase }}</h3>
        
        <span>écrit par : {{ articleSelected.userLastName|titlecase }} {{ articleSelected.userFirstName|titlecase }}, le {{ articleSelected.date|date:'dd/MM/yyyy' }}</span>
            
        
    </nb-card-header>
    <nb-card-body>
        <p>{{ articleSelected.content }}</p>
    </nb-card-body>
    <nb-card-footer>
        <app-carousel [pictures]="articleSelected.pictures"></app-carousel>
    </nb-card-footer>
</nb-card>