.flex {
    display: flex;
}

.between {
    justify-content: space-between;
}

nb-card {
    width: 75%;
    min-height: 45rem;
    max-height: 47rem;
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
}

