<nb-card *ngIf="articleSelected">
    <nb-card-header>
        <div class="flex between">
            <h3 >{{ articleSelected.title|uppercase }}</h3>
            <button nbButton (click)="close()" type="button" size="small" status="danger"><nb-icon icon="close-outline"></nb-icon></button>
        </div>
        
        <span>écrit par : {{ articleSelected.userLastName|titlecase }} {{ articleSelected.userFirstName|titlecase }}, le {{ articleSelected.date|date:'dd/MM/yyyy' }}</span>
            
        
    </nb-card-header>
    <nb-card-body>
        <p>{{ articleSelected.content }}</p>
    </nb-card-body>
    <nb-card-footer>
        <app-carousel [pictures]="articleSelected.pictures"></app-carousel>
    </nb-card-footer>
</nb-card>