.flex {
    display: flex;
    justify-content: center;
}

.card {
    width: 75%;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.text {
    margin: 1.5rem 8rem;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    max-height: 5rem;
    overflow: hidden;
}

.txt {
    font-size: 0.8rem;
}

.date {
    width: 100%;
    text-align: end;
    padding-right: 10px;
    margin-top: -1rem;
    margin-bottom: -1.5rem;
  }

.posted {
    width: 100%;
    text-align: end;
    padding-right: 10px;
    // margin-top: -0.5rem;
}

.header {
    flex-direction: column;
    width: 100%;
}

.written {
    display: flex;
    width: 100vh;
    justify-content: end;
    margin-bottom: -1.5rem;
}

button {
    margin-right: 10px;
}

.hidden {
    color: #1E90FF;
}