<div class="content" *ngIf="articleList">
    <nb-card class="card" *ngFor="let article of articleList">
        <nb-card-header class="flex">
            <div class="header">
                <div>
                    <strong class="title flex">{{ article.title|uppercase }}</strong>
                </div>
                <div class="posted">
                    <p class="txt">posted by: {{ article.userLastName }} {{ article.userFirstName }}</p>
                </div>
                <div class="date">
                    <p class="txt">date: {{ article.date|date:'dd/MM/yyyy' }}</p>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <p class="text">{{ article.content }}</p><span class="text hidden">[ ... ]</span>
        </nb-card-body>
        <nb-card-footer>
            <div class="flex">
                <div>
                    <button nbButton status="info" (click)="show(article)"><nb-icon icon="eye-outline"></nb-icon> Show</button>
                </div>
                <div *ngIf="userConnected">
                    <button nbButton status="info" (click)="edit(article.id)"><nb-icon icon="edit-outline"></nb-icon> Edit</button>
                </div>
            </div>
        </nb-card-footer>
    </nb-card>
</div>
