<div *ngIf="pictures && pictures.length > 0" class="carousel-container">
    <img *ngFor="let picture of pictures; let i = index" 
        [src]="picture.name_picture" alt=""
        [ngClass]="{ 'picture-active': selectedIndex === i }"
        class="fade"
    >

    <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of pictures; let i=index" 
            class="dot"
            [ngClass]="{'active': selectedIndex === i}"
            (click)="selectPicture(i)"
            >
        </span>
    </div>

    <button *ngIf="controls" class="btn-carousel btn-prev">
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev" (click)="onPrevClick()"></i>
    </button>

    <button *ngIf="controls" class="btn-carousel btn-next">
        <i class="fas fa-arrow-circle-right icon-carousel icon-next" (click)="onNextClick()"></i>
    </button>
</div>