<!-- <div>
    <p-button label="Accueil" styleClass="p-button-danger" routerLink="/main" styleClass="p-button-link"></p-button>
    <p-button label="Login" routerLink="/login" styleClass="p-button-link"></p-button>
</div> -->
<div class="flex">
    <div class="navbar">
        <!-- Home -->
        <div class="dropdown">
            <button class="dropbtn">{{'nav.home' | translate}} 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a routerLink="/main">{{'nav.presentation' | translate}}</a>
              <a routerLink="/contact">{{'nav.contact' | translate}}</a>
            </div>
        </div> 
        <!-- Van Gogh -->
        <div class="dropdown">
          <button class="dropbtn">{{'nav.vangogh' | translate}} 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a routerLink="">{{'nav.history' | translate}}</a>
            <a routerLink="">{{'nav.life' | translate}}</a>
            <a routerLink="">{{'nav.borinage' | translate}}</a>
          </div>
        </div> 
        <!-- Borigines -->
        <div class="dropdown">
            <button class="dropbtn">{{'nav.borigines' | translate}} 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a routerLink="">{{'nav.presentation' | translate}}</a>
              <a routerLink="">{{'nav.goals' | translate}}</a>
            </div>
        </div> 
        <!-- Events -->
        <div class="dropdown">
            <button class="dropbtn">{{'nav.events' | translate}} 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a routerLink="">{{'nav.walks' | translate}}</a>
              <a routerLink="">{{'nav.parties' | translate}}</a>
            </div>
        </div> 
        <!-- Press -->
        <a routerLink="">{{'nav.press' | translate}}</a>
        <!-- Press -->
        <a routerLink="/album">{{'nav.album' | translate}}</a>
        <!-- Blog -->
        <a href="https://vangoghborinage.canalblog.com/">{{'nav.blog' | translate}}</a>
    </div>
    <div class="navbar row" >
      <div>
            <!-- Languages -->
            <a (click)="selectFR()">FR</a>
            <a (click)="selectNL()">NL</a>
            <a (click)="selectEN()">EN</a>
      </div>    
      <div *ngIf="!userConnected; else loggedin">
          <!-- Login -->
          <a routerLink="/login"><nb-icon status="success" icon="lock-outline"></nb-icon> {{'nav.login' | translate}}</a>
      </div>
        
    </div>

    <ng-template #loggedin>
      <div *ngIf="userConnected && !userConnected.isAdmin else isAdmin">
        <!-- User -->

        <div class="dropdown">
          <button class="dropbtn"><nb-icon status="info" icon="edit-outline"></nb-icon> {{'nav.connected' | translate}}
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a routerLink="/post"><nb-icon status="info" icon="plus-outline"></nb-icon> {{'nav.newArticle' | translate}}</a>
            <a routerLink="/album"><nb-icon status="info" icon="plus-outline"></nb-icon> {{'nav.newAlbum' | translate}}</a>
          </div>
        </div> 

        <a (click)="logout()"><nb-icon status="danger" icon="power-outline"></nb-icon> {{'nav.logout' | translate}}</a>
      </div>
    </ng-template>

    <ng-template #isAdmin>
      <div>
      <!-- Admin -->

        <div class="dropdown">
          <button class="dropbtn"><nb-icon status="success" icon="edit-outline"></nb-icon> {{'nav.connected' | translate}}
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a routerLink="/post"><nb-icon status="success" icon="plus-outline"></nb-icon> {{'nav.newArticle' | translate}}</a>
            <a routerLink="/album"><nb-icon status="success" icon="plus-outline"></nb-icon> {{'nav.newAlbum' | translate}}</a>
            <a routerLink="/user"><nb-icon status="success" icon="person-outline"></nb-icon> {{'nav.user' | translate}}</a>
          </div>
        </div> 

        <a (click)="logout()"><nb-icon status="danger" icon="power-outline"></nb-icon> {{'nav.logout' | translate}}</a>
      </div>
    </ng-template>
</div>
