.flex {
    display: flex;  
    justify-content: space-between;
}

.submit {
    margin-top: 10px;
}

h3 {
    margin-left: 5rem;
}

.user {
    margin-left: 5rem;
}

.btnNew {
    margin-right: 5rem;
}

input {
    margin-bottom: 10px;
}