<nb-card>
    <nb-card-header class="flex">
        <h3>User :</h3> 
        <button status="info" type="button" nbButton><nb-icon icon="plus-outline"></nb-icon> Add</button>
    </nb-card-header>
    <nb-card-body *ngIf="selectedUser">
        <form [formGroup]="fg">
            <div>
                <label>Last Name :</label>
            </div>
            <div>
                <input placeholder="Last Name *" type="text" formControlName="lastName" nbInput [value]="selectedUser.lastName">
                <app-form-errors [control]="fg.get('lastName')"></app-form-errors>
            </div>
            <div>
                <label>First Name :</label>
            </div>
            <div>
                <input placeholder="First Name *" type="text" formControlName="firstName" nbInput [value]="selectedUser.firstName">
                <app-form-errors [control]="fg.get('firstName')"></app-form-errors>
            </div>
            <div>
                <label>Email :</label>
            </div>
            <div>
                <input placeholder="Email *" formControlName="email" type="email" nbInput [value]="selectedUser.email">
                <app-form-errors [control]="fg.get('email')"></app-form-errors>
            </div>
            <div>
                <label>Confirm Email :</label>
            </div>
            <div>
                <input placeholder="Confirm Email *" type="email" formControlName="confirmEmail" nbInput>
                <app-form-errors [control]="fg.get('confirmEmail')"></app-form-errors>
            </div>
            <div>
                <label>Password :</label>
            </div>
            <div>
                <input placeholder="Password *" type="password" formControlName="password" nbInput>
                <app-form-errors [control]="fg.get('password')"></app-form-errors>
            </div>
            <div>
                <label>Confirm Password :</label>
            </div>
            <div>
                <input placeholder="Confirm Password *" type="password" formControlName="confirmPassword" nbInput>
                <app-form-errors [control]="fg.get('confirmPassword')"></app-form-errors>
            </div>
            <div>
                <button class="submit" status="info" nbButton type="submit"><nb-icon icon="checkmark-outline"></nb-icon> Submit</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>